@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,700&display=swap');

@font-face {
    font-family:'Warriors' ;
    src: url(pacote-projeto-d010/fontes/Mortend\ Bold.otf)
}

@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@200&family=Roboto+Mono:ital,wght@0,100;1,700&display=swap');

:root {
    --cor0:#65BFA3;
    --cor1:#738A83;
    --cor2:#3C7261;
    --cor3:#9FBFB5;
    --cor4:#224036;

    --font-padrao:'Roboto Mono', monospace;
    --font-destaque:'Labrada',monospace;
    --font-Warriors:'Warriors';
}



body { 
    font-family:var(--font-destaque);
background-color: #3F5E5A;
margin: 0px;
padding: 0px;
border: 0px;
}

header {
    box-shadow: 7px 7px 7px rgba(0,0,0);
    font-family: var(--font-Warriors);
    background-color: #388668;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 10px;
    margin: 0px;
    color: white;
    min-height:150px;
    background-attachment:fixed ;
    background-image:linear-gradient(to bottom, #3A7C65,#000000,#000000, #000000)
    }

    header h1  {
        color: white;
        font-family: var(--font-Warriors);
    }

h1, h4{
    text-align: center; 

}

h1, h4, h2 {
    text-indent: 30px;
}

h2{
    background-color: #388668;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;padding: 0px;
    color: white;
}

h3#fl2 {
    padding: auto;
}

header a {
    font-family: var(--font-destaque);
}

p {
    text-indent: 50px;
    color: white;
}

.links {
    text-align: left;
    text-decoration: none;
    color: white;
    text-indent: 35px;
}

main {
    background-color: #1d423d;
    padding: 10px 35px;
    margin:25px 200px 25px 200px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0,0.5);
    border-radius: 20px;
    line-height: 20px;
}

nav {
    padding: 3px;
    border-radius: 5px;
}

nav > a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
    margin: auto;
}

nav > a:hover {
    background-color: var(--cor2);
    color:white  ;
}

article {
    background-color: lightgray;
}

img {
    display: block;
    margin: auto;    
}

.container {
    background-image: url(pacote-projeto-d010/imagens/html_css_js.png);
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .container {
    background-image: url('horizontal-image.jpg');
    }
}

div.vid {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #1a3029;
    border-radius: 25px;
}

div.vid > iframe {
    position: relative;
    top: 0% ;
    left: 0% ;
    width: 100%;
    height: 600px;
}

#list {
    background-color: #316b58;
    border-radius: 5px;
    margin-bottom: 0px;padding: 0px;
    color:white;
}

aside {
    background-color:#163a2e;
    padding: 10px;
    border-radius: 10px;
}

aside>ul {
    list-style-type:'\2714\00A0\00A0';
    list-style: inside;
    columns: 2;
}

footer {
    background-color: #1a3029;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin: 0px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > p {
    margin: 0px;
    background-color: #1a3029;
}



form input,
form textarea,
form button {
        display: block;
        width: 320px;
        margin-left: 750px;
        margin-bottom: 8px;
        padding: 8px;
}

form textarea {
        resize: none;
        height: 180px;
}

section h3 {
    margin-bottom: 16px;
    
}

form button {
    background-color: #3C7261;
    color: #ecf0f1;    
    border: none;
    cursor: pointer;
    margin:10px 0px 10px 760px
}

form button:hover {
    background-color: #388668;
}

#formtxt {
    display: inline-block;
    text-align: center;
    margin-left: 100px;
}


li {
    display: inline-block;
    padding: 16px;
}

#fl1 {
    padding-left: 790px;
}

#fl2 {
    padding-left: 450px;
}
h3#fl2 {
    padding: 0px 0px 0px 130px;
}

ul#icon {
    display: inline-block;
    margin: auto;
    padding: 0px 0px 0px 87px;
    float: left;
}